#AboutMe{
width: 100%;
height:100vh;
padding-left:10%;
padding-right:10%;
}
.me-container{
display: flex;
flex-direction: column;
}
.me{
    flex-wrap: wrap;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}
.inshort{
    margin-left: 5px;
    flex-wrap: wrap;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}