.App{
  background-color: #1E1E1E;
  color: #F5F1E5;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #ced8da;

}
a:hover{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

