
  .icon-link{
    text-decoration: none;
    
    margin-right: 30px;
  }
 
 
  #Header{  
    width: 100%;
    position:fixed;     
    height: auto;
    padding: 0 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    border-bottom: 1px solid  ;
    z-index: 100;
  
    /* position: relative; */
  }

.footer{
  position: relative;
  width: 100%;
  padding: 10px 0px 10px 0;
  display: flex;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid ;
}
.footer p{
  margin-left:10px;
  font-size: medium;
}
.footer div {
  padding:10px;
}


.outside{
  display: flex;
  flex-direction: column;
  text-align: right;
  position:absolute;
  right: 20px;
  top: 70px;
  padding: 10px;
  margin:0;
  mix-blend-mode: difference;
}
.headerName{
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 10px;
  letter-spacing: 2px;
}
.headerT{
  font-size: 20px;
}