
  .icon-link{
    text-decoration: none;
    
    margin-right: 30px;
  }
  .light{
    color: #1E1E1E;
    background-color: #F5F1E5;
  }
  .dark{
    color:#F5F1E5 ;
    background-color: #1E1E1E;
    border-color: 0px !important;
  }
  #Header{  
    width: 100%;
    position:fixed;     
    height: auto;
    padding: 0 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    border-bottom: 1px solid  ;
    z-index: 100;
  
    /* position: relative; */
  }

.footer{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid ;
}
.footer p{
  font-size: medium;

}


.outside{
  display: flex;
  flex-direction: column;
  text-align: right;
  position:absolute;
  right: 20px;
  top: 70px;
  padding: 10px;
  margin:0;
  mix-blend-mode: difference;
}
.text-link{
  /* text-decoration: none; */
  color: #ced8da;
  /* color: unset; */
  font-size: 20px;
  /* background-color: #fff; */
  /* padding: 5px; */

}