
  .icon-link{
    text-decoration: none;
    color: #ced8da;
    margin-right: 30px;
  }
  #Header{  
    width: 100%;
    position:fixed;     
    height: auto;
    padding: 0 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ced8da;
    align-items: center;
    border-bottom: 1px solid  ;
    z-index: 100;
    background-color: #1E1E1E;
    /* position: relative; */
  }
  .Link-nav{
    color: #ced8da;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Cormorant Garamond', serif;
  }
  .Link-nav::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .Link-nav:hover::after {
    width: 100%; 
    left: 0; 
  }
.footer{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid ;
}
.footer p{
  font-size: medium;

}


.outside{
  display: flex;
  flex-direction: column;
  text-align: right;
  position:absolute;
  right: 20px;
  top: 70px;
  padding: 10px;
  margin:0;
  mix-blend-mode: difference;
}
.text-link{
  /* text-decoration: none; */
  color: #ced8da;
  /* color: unset; */
  font-size: 20px;
  /* background-color: #fff; */
  /* padding: 5px; */

}