.Container{
    margin: 0;
    }
  .Title{
    flex-direction:column;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .numeProiect{
    margin:0;
    font-size: 40px;
}
.subtitle{
    margin:0;
    font-size: 25px;
}
.bigImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  
}
.bigImageContainer img{
  width:100%;
}
.storyContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  border-top: 1px solid #1E1E1E;
  border-bottom: 1px solid #1E1E1E;
}

div.storyContent div:last-child div:last-child{
  
    border-bottom: none !important;
  
}


.itemContent{
  display:flex;
  padding: 10px;
  border-bottom: 1px solid #1E1E1E;
  /* justify-content: center; */
}

.h{

}
.con{
width: 100%;
max-width: 500px;
}
.text1{
width: 50%;
}

.imagePage{
  width: 50%;
  max-width: 800px;
}

.slide-container{
  padding: 20px;
}

@media (max-width: 1000px) {
  .itemContent{
    flex-direction: column-reverse;
    display:flex;
    /* justify-content: center; */
  }
  .imagePage{
    width: 100%;
    max-width: 800px;
  }
  .text1{
    width: 100%;
    }
}